#ifc_plugin span {
	display: block;
	height: 150px;
	width: 150px;
	border-radius: 3px 3px 0 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom: none;
	box-sizing: border-box;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}
#ifc_plugin button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	width: 150px;
}